@model IEnumerable<Assignment1.Models.Tweet>
@*<script src="~/Scripts/JavaScript.js"></script>*@

<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created)
            </th>
        </tr>
        @{int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.TextBoxFor(modelItem => item.message,new { id=String.Format("updatedMessage_{0}",i)})
                    @Html.Hidden(String.Format("tweetid_{0}", i), item.tweet_id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.created)
                </td>
                <td>
                    <input type="button" value="Update" class="btn btn-primary updateButton" id=@String.Format("updateTweet_{0}",i) />
                    <input type="button" value="Delete" class="btn btn-primary deleteButton" id=@String.Format("deleteTweet_{0}",i) />
                </td>
            </tr>
            i++;
        }
    </table>

</div>