@model Assignment1.Models.Person

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>Login</title>

</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="container text-center">
            <h1>Welcome to My Twitter Clone</h1>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <div class="form-horizontal login-box">
                        <h4>Login</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.user_id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.user_id)
                                @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.PasswordFor(model => model.password)
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-right">
                                <input type="submit" value="Login" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">New User? @Html.ActionLink("Sign Up", "signup")</div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div style="color: red !important">
                <h4>@ViewBag.Message</h4>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</body>
</html>
